h1 {
	font-family: 'Alegreya' ;
}

body {
	font-family: 'Source Sans Pro' ;
	background-color: #EDD9A3;
	width: 50%;
	margin-left: 25%;
	text-align: justify;
	line-height: 1.7;
	font-size: 18px;
}

input {
	font-size: 18px;
	text-align: center;
}

button {
	font-size: 18px;
	color: #fff;
}

#generate {
	background-color: #846C5B;
}

#copy {
	background-color: #0c6;
}

#generate:hover {
	animation: effect 0.4s infinite;
}

@keyframes effect {
	0% {
		transform: translateX(0px) rotate(0deg);
	}

	20% {
		transform: translateX(-4px) rotate(-4deg);
	}

	40% {
		transform: translateX(-2px) rotate(-2deg);
	}

	60% {
		transform: translateX(4px) rotate(4deg);
	}

	80% {
		transform: translateX(2px) rotate(2deg);
	}
	100% {
		transform: translateX(0px) rotate(0deg);
	}
}

#lorem {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

